name: Build and Release

on:
  release:
    types: [ published ]

jobs:
  build:
    strategy:
      matrix:
        platform: [ubuntu-latest, macos-latest, windows-latest]

    runs-on: ${{ matrix.platform }}

    steps:
    - name: Checkout repository
      uses: actions/checkout@v4

    - name: Install dependencies (ubuntu only)
      if: matrix.platform == 'ubuntu-latest'
      run: |
        sudo apt-get update
        sudo apt-get install -y libgtk-3-dev libwebkit2gtk-4.0-dev libappindicator3-dev librsvg2-dev patchelf

    - name: Rust setup
      uses: dtolnay/rust-toolchain@stable

    - name: Rust cache
      uses: swatinem/rust-cache@v2
      with:
        workspaces: 'src-tauri'

    - name: Sync node version and setup cache
      uses: actions/setup-node@v4
      with:
        node-version: 'lts/*'
        cache: 'npm'

    - name: Install frontend dependencies
      run: npm ci

    - name: Build the app
      run: npm run tauri build

    - name: Upload artifacts to release
      uses: softprops/action-gh-release@v1
      with:
        files: |
          src-tauri/target/release/bundle/**/*
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
